<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Wishlist</title>
    <link rel="stylesheet" th:href="@{/create_styles.css}" /> <!-- Link til din nye CSS-fil -->

</head>
<body>
<header>
    <h1>True Dreams</h1>
    <p style="font-size: 1.0em; color: white; font-family: 'Lucida Calligraphy';  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin-left: 12px;">Making Dreams Come True</p>
</header>

<div class="container">
    <h1 style="font-size: 1.7em; color: cornflowerblue;">Create a new Wishlist!</h1>

    <!-- Success Message -->
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <!-- Error Message -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <div class="view-link">
        <a th:href="@{/wishlist/wishlists}" style=" font-weight: bold; color: cornflowerblue;">View all Wishlists</a>
    </div>
    <br>
    <div class="container">
        <form id="wishlistForm" th:action="@{/wishlist/save}" th:object="${itemlist}" method="post">
            <div class="form-group">
                <label for="name">Wishlist Name:</label>
                <input type="text" th:field="*{listName}" id="name" class="form-control">
                <br>
                <button type="submit" class="btn btn-primary">Create List!</button>
                <a href="/" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
</body>
<footer>
    <p>Contact Information:</p>
    <p>E-mail: support@Wishlist.com</p>
    <p>Tlf (Random). nr.: +45 45 16 18 67</p>
    <p>Management: Almer Toro Coskun & Kodjo Nicklas Akator </p>
</footer>

</html>
