<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Wishlist</title>
</head>
<body>
<h1>Create a new Wishlist!</h1>

<!-- Success Message -->
<div th:if="${successMessage}" class="alert alert-success" role="alert">
    <span th:text="${successMessage}"></span>
</div>

<!-- Error Message -->
<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    <span th:text="${errorMessage}"></span>
</div>

<!-- Link to view wishlists -->
<a th:href="@{/wishlist/wishlists}">View Wishlists</a><br>
 <br>

<!-- Form to create a new wishlist -->
 <form th:action="@{/wishlist/save}" th:object="${itemlist}" method="post">
    <div class="form-group">
        <label for="name">Wishlist Name:</label>
        <input type="text" th:field="*{listName}" id="name" class="form-control">
        <br>
    </div>
    <button type="submit" class="btn btn-success">Create Wishlist</button>
</form>

</body>
</html>
