<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<h1>Wishlist: <span th:text="${itemList.listName}"></span></h1>

<!-- Success Message -->
<div th:if="${successMessage}" class="alert alert-success" role="alert" style="margin-bottom: 10px;">
    <span th:text="${successMessage}"></span>
</div>

<!-- Error Message -->
<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    <span th:text="${errorMessage}"></span>
</div>
<a th:href="@{'/wishlist/' + ${itemList.idItemList} + '/addCustomItem'}">Add an item</a>
<br>

<!-- Display Items -->
<div th:if="${items != null}" th:each="item : ${items}">
    <p th:text="'Produkt: ' + ${item.itemName}"></p>
    <p th:if="${item.itemDescription != null}" th:text="'Produkt beskrivelse: ' + ${item.itemDescription}"></p>
    <p th:if="${item.itemDescription == null}">Ingen beskrivelse for produktet</p>
    <p th:if="${item.itemPrice != null}" th:text="'Pris: ' + ${item.itemPrice} + ' kr'"></p>
    <p th:if="${item.itemPrice == null}">Ingen pris tilgængelig</p>
    <form th:action="@{'/wishlist/'+ ${itemList.listName} +'/delete/' + ${item.itemName}}" method="post">
        <button type="submit">Delete</button>
    </form>
    <br>
</div>


</body>
</html>
