<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ItemList page</title>
    <link rel="stylesheet" th:href="@{/wishlists_styles.css}" /> <!-- Link til din nye CSS-fil -->
</head>
<body>
<header>
    <h1>True Dreams</h1>
    <p style="font-size: 1.0em; color: white; font-family: 'Lucida Calligraphy';  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); margin-left: 12px;">Making Dreams Come True</p>
</header>

<div class="container">
    <h2>Wishlist: <span th:text="${itemList.listName}"></span></h2>

    <!-- Success Message -->
    <div th:if="${successMessage}" class="alert alert-success" role="alert">
        <span th:text="${successMessage}"></span>
    </div>

    <!-- Error Message -->
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <span th:text="${errorMessage}"></span>
    </div>

    <a class="wishlist-button" th:href="@{'/wishlist/' + ${itemList.idItemList} + '/addCustomItem'}">Add an item</a>

    <br>

    <div th:if="${items != null}" th:each="item : ${items}" class="item">
        <p th:text="'Product: ' + ${item.itemName}"></p>
        <p th:if="${item.itemDescription != null}" th:text="'Product description: ' + ${item.itemDescription}"></p>
        <p th:if="${item.itemDescription == null}">No description available</p>
        <p th:if="${item.itemPrice != null}" th:text="'Price: ' + ${item.itemPrice} + ' kr'"></p>
        <p th:if="${item.itemPrice == null}">No price listed</p>

        <form th:action="@{'/wishlist/'+ ${itemList.IdItemList} +'/delete/' + ${item.idItem}}" method="post">
            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
        </form>
    </div>
</div>

<footer>
    <p>Contact Information:</p>
    <p>E-mail: support@Wishlist.com</p>
    <p>Tlf (Random). nr.: +45 45 16 18 67</p>
    <p>Management: Almer Toro Coskun & Kodjo Nicklas Akator </p>
</footer>

</body>
</html>
