<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
</head>
<body>
<h1>Wishlist: <span th:text="${itemList.listName}"></span></h1>

<!-- Success Message -->
<div th:if="${successMessage}" class="alert alert-success" role="alert" style="margin-bottom: 10px;">
    <span th:text="${successMessage}"></span>
</div>

<!-- Error Message -->
<div th:if="${errorMessage}" class="alert alert-danger" role="alert">
    <span th:text="${errorMessage}"></span>
</div>
<a th:href="@{'/wishlist/' + ${itemList.idItemList} + '/addCustomItem'}">Add an item</a>
<br>

<div th:if="${items != null}" th:each="item : ${items}">
    <p th:text="'Product: ' + ${item.itemName}"></p>
    <p th:if="${item.itemDescription != null}" th:text="'Product description: ' + ${item.itemDescription}"></p>
    <p th:if="${item.itemDescription == null}">No description available</p>
    <p th:if="${item.itemPrice != null}" th:text="'Price: ' + ${item.itemPrice} + ' kr'"></p>
    <p th:if="${item.itemPrice == null}">No price listed</p>
    <br>
    <form th:action="@{'/wishlist/'+ ${itemList.IdItemList} +'/delete/' + ${item.idItem}}" method="post">
        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?')">Delete</button>
    </form>
</div>





</body>
</html>
