<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Wishlists</title>
</head>
<body>
<div th:each="itemList : ${lists}">
    <h2 th:text="${itemList.listName}"></h2>
    <a th:href="@{'/wishlist/' + ${itemList.getIdItemList()}}" th:text="${itemList.listName}"></a>
    <form th:action="@{'/wishlist/wishlists/delete/' + ${itemList.getIdItemList()}}" method="post">
        <button type="submit">Delete</button>
    </form>
</div>


</body>
</html>